<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FireFly | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="toast">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    
    <div id="bg-img" style="--img-src:url('{{url_for('static',filename='images/low_poly_grid.svg')}}')"></div>
    <main>
        <div class="tagline">FireFly</div>
        <div class="quote">Connect. Chat. <br> Discover.</div>
        <div class="form">
            <div>Log In.</div>
            <div>Username</div>
            <input type="text" name="username" id="uid">
            <div>Password</div>
            <input type="password" name="password" id="pwd">
            <div class="buttons">
                <input type="button" value="Sign Up" id="signup">
                <input type="button" value="Log In" id="login">
            </div>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='login.js') }}"></script>
</html>
