/*Get google font : Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* Colour pallete */
    --bg-color : #242742;
    --pr-color : #FF6257;
    --n1-color : #36384E;
    --n2-color : #9294A0;
    --ac-color : #FFFFFF;
    --ft-fml: 'Roboto', sans-serif;
}

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}